<div class="comments">
	
	<p>
	  <strong><%= comment.name %> says:</strong>
	  <%= comment.body %>
	</p>
</div>
<% if comment.user_id == current_user.id %>
	<div class = "btn-toolbar">
	  <%= link_to 'Edit', edit_photo_comment_path(@photo, comment), :class => "btn-sm btn-info" %>
	  <%= link_to 'Destroy', photo_comment_path(@photo, comment), :class => "btn-sm btn-info", method: :delete, data: { confirm: 'Are you sure?' } %>
	 </div>
<%end%>
<hr class="intro-divider">