
<h1>Hi <%=current_user.name%>!</h1>
<br>
<div class = "btn-group">
<%=link_to "View Your Photos", my_photos_path, :class => "btn-lg btn-info" %>

<%= link_to "View All Photos", photos_path, :class => "btn-lg btn-info" %>
</div>
