<% @photos.each do |photo| %>
	<p>caption: <%= photo.caption%></p>
	<br>
	<div class = "btn-toolbar">
	<%=link_to "show", photo_path(photo),:class => "btn-sm btn-info" %>
	<% if @is_owner %>
	<%= link_to "edit", edit_photo_path(photo), :class => "btn-sm btn-info" %>
	<%= link_to "delete", photo, :class => "btn-sm btn-info", method: :delete, data: { confirm: 'Are you sure?' } %>
	<% end %>
	</div>
	<hr class="intro-divider">
<% end %>
